<h1><%=h @page.name %></h1>
<h2>A page from Smartgraph activity &quot;<%=h @activity.title %>&quot;</h2>

<% form_for @page, :url => activity_page_path(@activity, @page), :action => :update, :html => { :method => :put } do |f| %>
  <%= f.error_messages %>

  <p><%= f.label 'Page name: ' %><%= f.text_field :name %></p>
  <p>
    <%= f.label :intro_text %><br />
    <%= f.text_area :intro_text, :cols => 60, :rows => 15 %>
    <%= hidden_field_tag :return_to, params[:return_to] if params[:return_to] %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
  
  <%= link_to 'Go back without updating', params[:return_to] || activity_page_path(@activity, @page) %>
  
<% end %>
