<p>
  <b>Name:</b>
  <%=h @activity_page.name %>
</p>

<p>
  <b>Index:</b>
  <%=h @activity_page.index %>
</p>

<p>
  <b>Intro text:</b>
  <%=h @activity_page.intro_text %>
</p>


<%= link_to 'Edit', edit_activity_page_path(@activity_page) %> |
<%= link_to 'Back', activity_pages_path %>