<h1><%=h @page.name %></h1>
<h2>A page from Smartgraphs activity &quot;<%=h @activity.title %>&quot;</h2>

<div class='activity-page-text'>
  <%= @page.intro_text %>
</div>

<%= link_to 'Edit', edit_activity_page_path(@activity, @page) %> |
<%= link_to 'Back to activity', activity_path(@activity) %>
