<h1>New Smartgraphs Activity</h1>

<% form_for(@activity) do |f| %>
  <%= f.error_messages %>

  <p> <%= f.label 'Activity Title: ' %> <%= f.text_field :title %> </p>
  <p> <%= f.submit 'Create' %> </p>

<% end %>

<%= link_to 'Go back without creating activity', activities_path %>